* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

#nav-bar {
    background-color: #1f2937;
    height: 500px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10em;
    padding-top: 16px;
}

ul {
    display: flex;
    gap: 20px;
}

.content {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 0 48px;
    padding: 48px; 
}

.awesome {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 48px;
}

.image {
    background-color: gray;
    margin: 48px;
    width: 450px;
}

.awesome > .hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome > button {
    font-size: 25px;
    background-color: #3883F6;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 100px;
    border: none;
    border-radius: 5px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-info {
    font-family: 'Roboto';
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-top: 48px;
}

.container {
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 48px;
    margin: 48px;
    margin-left: 325px;
}

.hollow-box {
    width: 150px;
    height: 150px;
    border: 5px solid #3883F6;
    border-radius: 10px;
}

.box {
    display: flex;
    flex-direction: column;
}

.text {
    text-align: center;
}

.quote {
    width: 100%;
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 800px;
    font-size: 36px;
    font: lighter;
    font-family: 'Roboto';
}

.quote > p {
    font-family: 'Roboto';
    font-size: 20px;
    font: bold;
}

.sign-up {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.sign-up div {
    background-color: #3883F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 1000px;
    gap: 24px;
    border-radius: 5px;
}

.sign-up button {
    font-size: 20px;
    background-color: #3883F6;
    color: white;
    cursor: pointer;
    width: 150px;
    border: solid white;
    border-radius: 5px;
    padding: 8px;
}

footer {
    color: white;
    font: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1f2937;
}